body {
  font-size: 16px;
  text-align: left;
  background-color: white;
  color: black;
  margin: 0;
}

button {
  text-align: center;
  display: block;
  margin: 20px auto;
  font-size: 100%;
  background: white;
  border: 1px solid lightgrey;
  border-radius: 5%;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
}

button:hover, button:active, button:focus {
  background: #D0D0D0;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
}

#text-box {
  text-align: left;
  font-family: "Lato", sans-serif;
  line-height: 1.3;
  margin: 90px auto 10px auto;
  padding: 0 20px;
  max-width: 600px;
}

#second-next-box, #next-box {
  opacity: 1;
  margin: 10px auto;
  padding: 0 20px;
  max-width: 600px;
}

.nextParagraph {
 padding: 10px 0;
 text-decoration: underline;
}

#buttons-container {
  margin-top: 100px;
}

.menu-bar {
 width: 100%;
 position: fixed;
 top: 0;
 z-index: 10;
 text-align: center;
 background-color: lightgrey;
 border-bottom: 1px solid black;
}

.menu-bar button {
  display: inline-block;
}

.side-menu {
  width: 100%;
  overflow: auto;
  height: 750px;
  background: lightgrey;
  margin: 0 auto;
  display: none;
  top: 63px;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  padding: 10px;
}